* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  padding: 15px !important;
  box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.45);
}

.navbar .navbar-brand {
  font-weight: 600;
  font-size: 24px !important;
}

.navbar-nav {
  display: flex;
  position: relative;
}

.nav-item {
  width: 80px;
  text-align: center;
}

.nav-link {
  position: relative;
  font-size: 18px;
  color: rgb(163, 163, 163) !important;
  font-weight: 600;
  transition: all 1s;
}

.nav-link:hover {
  color: #000 !important;
}

.home-title {
  font-weight: 700;
  font-size: 58px;
}

.home-content {
  transition: 0.6s ease-in-out !important;
  transform: scale(0.95) !important;
  cursor: pointer;
}

.home-content:hover {
  transform: scale(1) !important;
}

section:not(:first-of-type) {
  margin: 48px 0;
  padding-bottom: 48px;
}

section:nth-of-type(even):not(:last-of-type) {
  background-color: rgb(241, 255, 241);
}

section:nth-of-type(4) {
  color: rgb(94, 198, 94);
}

.section-title {
  text-align: center;
  padding: 24px;
  color: rgb(6, 59, 6);
}

.section-title hr {
  border: none;
  margin: auto;
  width: 100px;
  height: 3px !important;
  background-color: rgb(94, 198, 94) !important;
  opacity: 0.7;
}

.hr-title {
  border: none;
  height: 3px !important;
  background-color: rgb(94, 198, 94) !important;
  opacity: 0.7;
}

.card {
  transition: 0.3s ease-in-out;
  transform: scale(0.95);
  box-shadow: 1px 10px 24px -7px rgb(0 0 0 / 75%);
  cursor: pointer;
}

.card-services {
  border-left: 8px solid rgb(94, 198, 94) !important;
}

.card:hover {
  transform: scale(1);
}

.card:hover .card-title {
  transition: all 0.5s;
  color: rgb(94, 198, 94) !important;
}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-join-us {
  text-decoration: none;
  min-width: 250px;
  min-height: 50px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
  text-align: center;
  background: rgb(94, 198, 94);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 11px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 11px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 11px 12px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 8px;
}

.btn-join-us:hover,
.btn-join-us:focus {
  color: #fff;
  animation: riseup 3s infinite;
}

.btn-join-us:hover::before,
.btn-join-us:focus::before {
  opacity: 1;
}

.btn-join-us::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid rgb(94, 198, 94);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.btn-join-us:hover::after,
.btn-join-us:focus::after {
  animation: none;
  display: none;
}

footer {
  background-color: rgb(33, 139, 33);
  color: #fff;
  margin-top: 100px !important;
  padding: 15px !important;
  box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.45);
}

.footer-logo img {
  width: 80px;
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
  margin-top: -50px;
}

.footer-link {
  text-decoration: none;
  color: #fff;
}

@keyframes riseup {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

@media only screen and (max-device-width: 767px) {
  .home-title {
    font-size: 28px;
    text-align: center;
  }

  .home-subtitle {
    text-align: center;
    font-size: 14px;
  }

  .home-content-title {
    font-size: 18px !important;
  }

  .home-content-subtitle {
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .hover-object {
    height: 2px;
    width: 40px;
    content: '';
    position: absolute;
    background-color: rgb(94, 198, 94);
    bottom: 0;
    transition: transform 0.3s;
    margin: 0 20px;
    visibility: hidden;
  }

  .nav-item:nth-child(1):hover ~ .hover-object {
    visibility: visible;
    transform: translateX(0);
  }

  .nav-item:nth-child(2):hover ~ .hover-object {
    visibility: visible;
    transform: translateX(80px);
  }
  .nav-item:nth-child(3):hover ~ .hover-object {
    visibility: visible;
    transform: translateX(160px);
  }
  .nav-item:nth-child(4):hover ~ .hover-object {
    visibility: visible;
    transform: translateX(240px);
  }
}
